You can submit a link to the public GITHub repository or a ZIP file. The submission must contain:

    A document (max 10 pages/slides) describing  what the project does and including relevant screenshots of the website (the document can consist of a number of screenshots and a brief paragraph for each screenshot); The document should also describe what to do in order to make it work on a different environment (e.g., set the base tag, change configuration settings);
    A picture of the database diagram representing the last version of the database
    The SQL export of the database, including relevant data for navigating the website (i.e., dummy data), if needed.
    The project code.
    Instructions for setting up the database and running the code.

Your code should:

    Work as expected: please, make sure that there are no errors due to incorrect settings or missing files and folders (10 points)
    A user area with create/edit/delete features (10 points)